<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ввод данных пользователя</title>
</head>
<body>
  <h2>User form</h2>
  <form method="post" action="user/">
    {% csrf_token %}
    <p>Name: <br> <input name="name" /></p>
    <p>Age: <br> <input name="age" type="number" /></p>
    <p>
            Languages:<br />
            <select multiple name="languages">
                <option>Python</option>
                <option>JavaScript</option>
                <option>C++</option>
                <option>Java</option>
             </select>
        </p>
    <input type="submit" value="Send" />
  </form>
</body>
</html>